body {
    background-color: #fff8ef !important;
}

.sticky-navbar {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1030 !important;
    /* Ensure it stays above other content */
}